<template>
  <div class="d-flex justify-content-center" id="writePost">
    <input class="form-control" v-model="newPostText" placeholder="Enter your post"/>
    <button class="btn btn-dark" @click="addPost">Post <i class="arrow right"></i></button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newPostText: "",
    };
  },
  methods: {
    addPost() {
      if (this.newPostText.trim() !== "") {
        this.$store.dispatch("addNewPost", this.newPostText);
        this.newPostText = "";
      }
    },
  },
};
</script>

<style scoped>
#writePost {
  padding-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 10px;
}

.btn-dark {
  margin-left: 5px;
  width: 100px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
</style>
