<template>
  <div>
    <div class="d-flex justify-content-center">
      <h2>Our Company Milestone</h2>
    </div>

    <div class="row">
      <div class="col-2">
        <div class="verticalLine"></div>
      </div>
      <div class="col-8">
        <div v-for="post in posts" :key="post.id">
          <div :class="{ 'card': true, 'odd-margin': post.id % 2 !== 0, 'even-margin': post.id % 2 === 0, 'align-right': post.id % 2 === 0 }">
            <div class="card-body">
              <div class="row">
                <div class="col-8"><p class="textAlignLeft">{{ post.text }}</p></div>
                <div class="col-4"><small>{{ formatTimestamp(post.timestamp) }}</small></div>
              </div>
            </div>
          </div>
          <span class="dot"></span>
        </div>
      </div>
      <div class="col-2"></div>
    </div>


  </div>
</template>

<script>
export default {
  computed: {
    posts() {
      return this.$store.getters.getPosts;
    },
  },
  methods: {
    formatTimestamp(timestamp) {
      return timestamp.toLocaleString();
    },
  },
};

console.log(screen.width)
</script>

<style scoped>
.card {
  width: 400px;
}

.odd-margin {
  margin-left: 0;
}

.even-margin {
  margin-left: 550px;
}

.textAlignLeft {
  text-align: left
}

.verticalLine {
//position: relative; border-left: 2px solid #B2B2B2;
  height: 500px;
  margin-left: 705px;
}

.verticalLine::before,
.verticalLine::after {

}

.verticalLine::before {

}

.verticalLine::after {

}

@media screen and (min-width: 1367px) {
  .verticalLine {
    border-left: 2px solid #B2B2B2;
    height: 500px;
    margin-left: 810px;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: -298px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1289px) {
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 132px;
  }
}

@media screen and (min-width: 1290px) and (max-width: 1366px) {
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 47px;
  }
}


@media screen and (max-width: 767px) {
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 47px;
  }
}

</style>
