<template>
  <div id="app">
    <PostInput/>
    <TimelineContainer/>
  </div>
</template>

<script>
import PostInput from "@/components/PostInput.vue";
import TimelineContainer from "@/components/TimelineContainer.vue";

export default {
  components: {
    PostInput,
    TimelineContainer,
  },
};
</script>

<style>
#app {
  text-align: center;
  margin-top: 0;
  background-color: #eff0f4;
  overflow-x: hidden;
}
</style>
